body {
    background: #030022;
    font-family: monospace;
    font-size: 20px;
    margin: 0 !important;
}

.all {
    width: 100%;
    color: azure;
    background-image: url("img/tlo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.wstep {
    width: 100%;
    padding: 40px 0;
}

.logo {
    width: 100%;
    font-size: 40px;
    text-align: center;
    text-shadow: 2px 2px 5px black;
    text-shadow: -2px 2px 5px black;
    text-shadow: -2px -2px 5px black;
    text-shadow: 2px -2px 5px black;

}

.filtr {
    width: 100%;
    padding: 10px 0;
    height: 160px;
    text-align: center;
    opacity: 0.9;    
    background: #0b026d;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

}

.sticky {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.lista {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}

.opcje {
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    align-items: center;
}

ol {
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 30px;
    height: 35px;
    line-height: 200%;
    display: inline-block;
}

select {
    position: relative;
    padding: 10;
    margin: 0;
    top: 20px;
    height: 35px;
    line-height: 200%;
    width: 174.5px;
    border-right: solid #030022;
    border-left: solid #030022;
    border-top: solid #030022;
    border-bottom: solid #030022;
    height: 90px;
    box-shadow: 0 10px 25px #030022;
    font-size: 30px;
    padding: 0;
    background: #0b026d;
    color: rgb(199, 16, 16);
    align-items: center;
   
}

select>option {
    color: red;
    align-items: flex-start;
    display: flex;
}

ol >li a {
    color: white;
    text-decoration: none;
    display: block;
    align-items: flex-start;

}

ol>li {
    width: 180px;
    height: 160px;
    float: left;
    border-right: solid #030022;
}

ol>li:first-child {
    border-left: solid #030022;
}

.tank {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    align-items: center;
}

.opcje>select>option center {
    align-items: center;
}

.true {
    width: 28.4%;
    display: inline-block;
    padding: 10px;
    border: 3px solid #f9f2b0;
    margin: 10px;
    align-items: center;
    background: #bdaa58;
}

.false {
    width: 28.4%;
    background-image: url("img/siatka.png");
    display: inline-block;
    padding: 10px;
    border: 3px solid #f9f2b0;
    margin: 10px;
    align-items: center;
    opacity: 0.9;
    background: #a3aba8;
}
