body {
    background: #030022;
    font-family: monospace;
    font-size: 20px;
    margin: 0 !important;
    background-image: url("img/tlo.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.all {
    width: 100%;
    
}
.wstep {
    width: 100%;
    padding: 40px 0;
}

.info {
    background-color: #ff0000;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

.logo {
    color: white;
    width: 100%;
    font-size: 40px;
    text-align: center;
    text-shadow: 2px 2px 5px black;
    text-shadow: -2px 2px 5px black;
    text-shadow: -2px -2px 5px black;
    text-shadow: 2px -2px 5px black;
}

.logo2 {
    top: -20px;
    width: 100%;
    margin: 0;
    margin-top: 27px;
    font-size: 40px;
    text-align: center;
    text-shadow: 2px 2px 5px black;
    text-shadow: -2px 2px 5px black;
    text-shadow: -2px -2px 5px black;
    text-shadow: 2px -2px 5px black;
}

.logo3 {
    background-color: darkslategrey;
    width: 100%;
    border-top: black solid 2px;
    height: 41px;
    font-size: 40px;
    text-align: center;
    text-shadow: 2px 2px 5px black;
    text-shadow: -2px 2px 5px black;
    text-shadow: -2px -2px 5px black;
    text-shadow: 2px -2px 5px black;
}

.filtr {
    width: 100%;
    padding: 10px 0;
    height: 160px;
    text-align: center;
    opacity: 0.9;    
    background: #1a1738;
    border-top: 3px solid #f9f2b0;
    border-bottom: 3px solid #f9f2b0;

}

.sticky {
    z-index: 100;
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
}

.lista {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}

.opcje {
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    align-items: center;
}

ol {
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 30px;
    height: 35px;
    line-height: 200%;
    display: inline-block;
}

select {
    position: relative;
    padding: 10;
    margin: 0;
    top: 20px;
    height: 35px;
    line-height: 200%;
    width: 174.5px;
    border-right: solid #030022;
    border-left: solid #030022;
    border-top: solid #030022;
    border-bottom: solid #030022;
    height: 90px;
    box-shadow: 0 10px 25px #030022;
    font-size: 30px;
    padding: 0;
    background: #0b026d;
    color: rgb(199, 16, 16);
    align-items: center;
   
}

select>option {
    color: red;
    align-items: flex-start;
    display: flex;
}

ol >li a {
    color: white;
    text-decoration: none;
    display: block;
    align-items: flex-start;

}

ol>li {
    width: 180px;
    height: 160px;
    float: left;
    border-right: solid #030022;
}

ol>li:first-child {
    border-left: solid #030022;
}

.tank {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    align-items: center;
}

.opcje>select>option center {
    align-items: center;
}

.true {
    margin-top: -27px;
    background: rgb(255,208,0);
    background: linear-gradient(71deg, rgba(255,208,0,1) 0%, rgba(203,172,0,0.6) 7%, rgba(157,159,0,0.6) 14%, rgba(200,190,0,0.6) 21%, rgba(249,224,0,0.6) 28%, rgba(201,188,0,0.6) 35%, rgba(163,152,0,0.6) 42%, rgba(201,201,0,0.6) 50%, rgba(238,255,0,0.6) 57%, rgba(208,201,0,0.6) 64%, rgba(171,157,0,0.6) 71%, rgba(192,203,0,0.6) 78%, rgba(229,255,0,0.6) 85%, rgba(198,191,0,0.6) 94%, rgba(145,150,0,0.6) 100%);
}

.false {
    margin-top: -27px;
    background: rgb(40,40,40);
    background: linear-gradient(71deg, rgba(40,40,40,1) 0%, rgba(113,113,113,0.6) 7%, rgba(199,199,199,0.6) 14%, rgba(223,223,223,0.6) 21%, rgba(171,171,171,0.6) 28%, rgba(123,124,124,0.6) 35%, rgba(161,162,162,0.6) 42%, rgba(201,201,201,0.6) 50%, rgba(238,238,238,0.6) 57%, rgba(184,184,184,0.6) 64%, rgba(113,113,113,0.6) 71%, rgba(171,171,171,0.6) 78%, rgba(249,249,249,0.6) 85%, rgba(167,167,167,0.6) 94%, rgba(82,82,82,0.6) 100%);
}

.siatka {
    align-items: center;
    color: white;
    border: 3px solid #f9f2b0;
    margin: 13px;
    width: 270px;
    display: inline-block;
    background-image: url("img/siatka.png");
    background-size: 100%;
    border-radius: 5px;
    background-position: center;
}

.siatka.margin {
    margin-left: 50px;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    width: 80%;
    max-width: 80%;
    padding: 10px;
    border: 3px solid #f9f2b0;
    background-color: rgb(199, 118, 13);
    border-radius: 10px;
    color: white;
    z-index: 111;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

#overlay {
    position: fixed;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(00, 00, 00, 0);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
    background-color: rgb(00, 00, 00, 0.5);
}

.box {
   
    display: flex;
    justify-content: center;
}

.box_2 {
    Top: 0;
    margin-top: 17px;
    width: 100%;
    background-color: darkslategrey;
    border: 3px solid #f9f2b0;
    border-radius: 10px;
    margin-left: 15px;
}

.box_3 {
    width: 100%;
    display: flex;
    justify-content: center;
}
.box_3.pading {
   padding-bottom: 10px;
}
.box_4 {
    margin-top: 12px;
    width: 270px;
    background-color: darkslategrey;
    border: 3px solid #f9f2b0;
    border-radius: 10px;
    margin-left: 55px;
    padding: 10px;
}
.box_5 {
    margin-top: 13px;
    width: 90%;
    background-color: darkslategrey;
    border: 3px solid #f9f2b0;
    border-radius: 10px;
    margin-left: 40px;
    padding: auto;
}
.box_6 {
    margin-top: 13px;
    width: 95%;
    background-color: darkslategrey;
    border: 3px solid #f9f2b0;
    border-radius: 10px;
    margin-left: 20px;
    padding: auto;
}
.P_ {
    width: 70px;
    height: 70px;
    border: 3px solid #f9f2b0;
    background-color: black;
    margin: 0;
    margin-right: 5px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.E_ {
    width: 60px;
    height: 60px;
    border: 3px solid #f9f2b0;
    background-color: black;
    margin: 0;
    margin-right: 5px;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.V {
    width: 60px;
    height: 60px;
    border: 3px solid #f9f2b0;
    background-color: black;
    margin: 0;
    margin-right: 5px;
    margin-left: 102px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.stats{
    top: -20px;
    width: 100%;
    margin: 0;
    margin-top: 27px;
    font-size: 20px;
    text-align: center;
    text-shadow: 2px 2px 5px black;
    text-shadow: -2px 2px 5px black;
    text-shadow: -2px -2px 5px black;
    text-shadow: 2px -2px 5px black;
}
